.hourly-scroll::-webkit-scrollbar {
  width: 5px;
}

/* Hide the up/down scrollbar arrows */
.hourly-scroll::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

.hourly-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.hourly-scroll::-webkit-scrollbar-thumb {
  background: #302f4a;
  border-radius: 9999px;
}

.hourly-scroll::-webkit-scrollbar-thumb:hover {
  background: #3a3958;
}

/* Firefox support */
.hourly-scroll {
  scrollbar-width: thin;
  scrollbar-color: #302f4a transparent;
}

.custom-w {
  width: -webkit-fill-available !important;
}
