<h1 class="flex justify-center mx-auto my-[64px] text-6xl font-semibold">
  How's the sky looking today?
</h1>
<div
  class="flex justify-center gap-[16px] max-w-[526px] w-full relative mx-auto"
>
  <img
    src="assets/search-icon.png"
    class="absolute left-4 top-1/2 -translate-y-1/2 w-5 h-5"
  />
  <input
    #c
    placeholder="Search for a place..."
    id="search"
    class="border border-[#262540] h-[56px] w-full pl-[50px] bg-transparent text-[#D4D3D9] rounded-[10px]"
  />
  <button
    (click)="lookup(c.value)"
    class="bg-[#4658D9] py-[16px] px-[30px] rounded-[10px]"
  >
    Search
  </button>
</div>

@if (sharedService.temperature() !== null) {
<div class="flex gap-[30px] max-w-[1280px] mx-auto w-full items-stretch">
  <div class="mt-[48px] flex-1">
    <div class="relative max-w-[1280px] w-full mx-auto">
      <img class="h-full object-cover" src="{{ bgPic }}" alt="" />

      <div
        class="absolute inset-0 w-full h-full flex justify-between items-center p-4 text-white max-w-[100%]"
      >
        <div>
          <p class="text-lg font-semibold truncate">
            {{ sharedService.city() }}, {{ sharedService.country() }}
          </p>
          <p class="truncate">{{ sharedService.dateFormatted() }}</p>
        </div>
        <div class="flex items-center gap-[30px]">
          <img
            [src]="sharedService.weatherIcon()"
            alt="Weather Icon"
            class="w-16 h-16"
          />
          <p class="text-7xl font-bold">{{ sharedService.temperature() }}°</p>
        </div>
      </div>
    </div>
    <div
      class="relative mt-[48px] flex gap-[24px] max-w-[1280px] w-full mx-auto"
    >
      <div
        class="px-5 py-4 text-white max-w-[60%] w-[182px] h-[118px] rounded-xl bg-[#262540] flex justify-between flex-col"
      >
        <p>Feels like</p>
        <p class="text-4xl">{{ sharedService.apparentTemperature() }}°</p>
      </div>
      <div
        class="px-5 py-4 text-white max-w-[60%] w-[182px] h-[118px] rounded-xl bg-[#262540] flex justify-between flex-col"
      >
        <p>Humidity</p>
        <p class="text-4xl">{{ sharedService.relativeHumidity() }}%</p>
      </div>
      <div
        class="px-5 py-4 text-white max-w-[60%] w-[182px] h-[118px] rounded-xl bg-[#262540] flex justify-between flex-col"
      >
        <p>Wind</p>
        <p class="text-4xl">{{ sharedService.wind() }}km/h</p>
      </div>
      <div
        class="px-5 py-4 text-white max-w-[60%] w-[182px] h-[118px] rounded-xl bg-[#262540] flex justify-between flex-col"
      >
        <p>Precipitation</p>
        <p class="text-4xl">{{ sharedService.precipitation() }}mm</p>
      </div>
    </div>
    <div class="p-2 mt-16 rounded-xl min-w-[110px] text-center">
      <h2 class="text-xl text-left font-semibold mb-6">Daily forecast</h2>

      <div class="grid grid-flow-col auto-cols-fr gap-4 overflow-x-auto">
        @for (d of sharedService.dailyForecast(); track $index) {
        <div class="bg-[#262540] p-1 rounded-xl text-center pt-2">
          <p class="mb-1">{{ d.date | date : "EEEE" | slice : 0 : 3 }}</p>
          <img [src]="d.icon" class="w-10 mx-auto my-2" />
          <div class="flex justify-around">
            <div class="text-lg">{{ d.max }}°</div>
            <div class="text-lg">{{ d.min }}°</div>
          </div>
        </div>
        }
      </div>
    </div>
  </div>

  <div class="mt-[48px] w-full text-white flex flex-col gap-10 flex-1">
    <div class="bg-[#262540] p-4 rounded-xl min-w-[110px] text-center">
      <h2 class="text-xl text-left font-semibold">Hourly forecast</h2>

      <div class="py-2 h-[636px] overflow-auto smooth-scroll momentum-scroll">
        @for (h of sharedService.hourlyForecast(); track $index) {
        <div
          class="bg-[#302F4A] h-[60px] mx-0 my-4.5 py-0 px-[19px] w-fit pt-1.5 pb-1.5 rounded-xl min-w-[110px] text-center w-full flex items-center justify-between"
        >
          <div class="flex items-center gap-4">
            <img [src]="h.icon" class="w-10 mx-auto my-2" />
            <p>{{ h.time | date : "h a" }}</p>
          </div>
          <p class="text-xl">{{ h.temp }}°</p>
        </div>
        }
      </div>
    </div>
  </div>
</div>
}
