@use "tailwindcss" as *;

html,
body {
  background: #02012c;
  color: #fff;
}

@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@400;700&display=swap");

body {
  font-family: "Bricolage Grotesque", sans-serif;
}

.momentum-scroll {
  -webkit-overflow-scrolling: touch; /* momentum scroll on touch devices */
  scroll-behavior: smooth; /* smooth scrolling */
}
